:root{
    --border-bg: 1px solid #dad8d8;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.storys{
    display: flex;
    border: var(--border-bg);
    padding: 16px 8px;
    overflow: hidden;
    justify-content: space-around;
    width: 38.3rem;
    height: 138px;
    margin-top: 3rem;
}
.peoples{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin: 0px 3px;
}
.peoples div{
    padding: 1px 2px 0px 3px;
    border: 2px solid #DA2D7B;
    border-radius: 50%;
}
.peoples div img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.peoples p{
    font-size: 12px;
    font-weight: 500;
}
.post-body{
    width: 100%;
    height: 32.3rem;
}
.img-woman-post{
    width: 100%;
    height: 100%;
}
.div-icons-posts{
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 1rem;
}
.save-post{
    transform: rotate(90deg);
}
.icons-reacts{
    margin-right: 1rem;
}
.div-reacts, .div-saved{
    cursor: pointer;
}