*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
input[type=text]{
    outline:none
}
.main{
    padding-top: 30px;
    margin: 0px 86.5px;
    display: flex;
}